<h2>
  <%= @question.quizbook %>
  <%= @question %> Template
</h2>

<%= render "/questions/templates/form",
question: @question,
url: quizmaster_question_template_path(),
cancel: quizmaster_question_path( @question ) %>
