<h2><%= @quiz %> New Question</h2>

<%= render "/questions/templates/form",
question: @question,
url: quizmaster_questions_path( quizbook_id: @quizbook ),
cancel: quizmaster_quizbook_path( @quizbook ) %>
