<%= link_to fa('arrow-up'), member_path( @member ), class: "btn btn-outline-primary float-right" %>

<h2>
  <%= @member %>
</h2>

<p>
  <strong>Balance</strong>
  <%= number_to_currency( @account.balance, unit: "Q$" ) %>
</p>

<strong>Transactions</strong>
<% if @account.transactions.any? %>
  <table class="table">
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Comment</th>
    </tr>
    <%= render(
      collection: @account.transactions,
      partial: 'accounts/transaction' ) %>
  </table>
<% else %>
   None
<% end %>
