<%= link_to fa("arrow-up"), plays_path( quiz_id: @play.quiz_id ), class: "btn btn-outline-primary float-right" %>

<h2><%= @question %></h2>
<hr>
<%= render 'questions/rendered', question: @question, url: question_test_path( @question ), http_method: :PATCH, local: true %>
