<%= link_to fa("arrow-up"), plays_path( quiz_id: @play.quiz_id ), class: "btn btn-outline-primary float-right" %>

<h2><%= @question %></h2>
<hr>
<div class="rendered_markdown">
  <%= @question.ask_html.html_safe %>
</div>
<%= render '/questions/answer_form', question: @question, url: play_question_path( @play, @question ), http_method: :patch, local: true %>
