<%= banner "QuizFC Registration" %>

<div class="container">

  <br>
  <h1>Thanks for signing up!</h1>
  <h3>
    Please check your <strong><%= @email %></strong> email inbox for a message from QuizFC.
  </h3>
  <br>

</div>
