<%= banner "QuizFC Registration" %>

<div class="container">

  <h1>Thanks for signing up!</h1>
  <p>
    You will receive an email from QuizFC.
  </p>
  <p>
    Please click on the link in the email to confirm your password.
  </p>

</div>
