<h2>New attachment</h2>

<%= form_with model: @question do |form| %>

  <div class="form-group">
    <%= form.file_field :files, multiple: true %>
  </div>

  <div class="form-group">
    <%= link_to :Cancel, question_path( @question ), class: "btn btn-secondary" %>
    <%= form.submit :Upload, class: "btn btn-primary" %>
  </div>

<% end %>
