.markdown-editor .CodeMirror {
  min-height: 0px;
}

.markdown-editor .CodeMirror-scroll {
  min-height: 60px;
}

.yaml-editor .CodeMirror {
  min-height: 0px;
  padding: 0px;
  font-family: monospace;
}

.yaml-editor .CodeMirror-scroll {
  min-height: 0px;
}
