<%= banner "Quiz Closed" %>

<div class="container">

  <%= link_to fa("arrow-up"), member_results_path( @member ), class: "btn btn-outline-primary btn-app float-right" %>

  <h2>Quiz <%= @play.quiz.number %> closed</h2>
  <hr>
  <h4>This quiz is closed.</h4>

</div>
