<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>We're contacting you to notify you that your QuizFC account email is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We're contacting you to notify you that your QuizFC account email has been changed to <%= @resource.email %>.</p>
<% end %>

<p>
  Thanks,<br>
  QuizFC Support Team
</p>
