<% config = question.config || {} %>
<div class="rendered_markdown">
  <%= content_tag :div, config["question"] do %>
    <%= markdown( question.ask ) %>
  <% end %>
  <%= render 'questions/partials/fields', config: config %>
</div>
