<div class="form-group">
  <%= render '/questions/templates/default/config_help' %>
  <%= form.label :config_yaml, "Config" %>
  <div class="yaml-editor">
    <%= form.text_area :config_yaml, value: form.object.config_as_yaml %>
  </div>
</div>
