.flash-messages {
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bolder;
}

.flash-alert {
  color: red;
  border: 2px solid red;
  border-radius: 100px;
}

.flash-notice {
  color: green;
  border: 2px solid green;
  border-radius: 100px;
}
