.flash-messages {
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.flash-alert {
  background-color: red;
  border-radius: 100px;
}

.flash-notice {
  background-color: green;
  border-radius: 100px;
}
