<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p><span>© 2018 Copyright QuizFC</span></p>
      </div>
      <div class="col-sm-6 text-right">
        <p><a href="##"><span>Privacy Policy </span></a>| <a href="##"><span>Terms Of Use</span></a></p>
      </div>
    </div>
  </div>
</section>
