<section class="supported-by text-center">
  <div class="container">
    <p>Proudly Supported By</p>
    <div class="row vertical-align">
      <div class="col-sm-6 col-md-4 col-lg-2">
        <p><strong>BT ENTERPRISES</strong></p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <%= image_tag "supporter-logos-granite.png", class: "img-fluid" %>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <%= image_tag "supporter-logos-fof.png", class: "img-fluid" %>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <%= image_tag "supporter-logos-axis.png", class: "img-fluid" %>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <p>ETW MANAGEMENT</p>
      </div>
    </div>
  </div>
</section>
