<!DOCTYPE html>
<html>
  <head>
    <title>QuizFC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
      body {
        background: url(/landingsplash.jpeg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: black;
        color: #eee;
        margin-bottom: 50px;
      }
      .flash-messages {
        text-align: center;
        padding: 20px;
      }
      .landing_primary_title {
        font-size: 3rem;
        white-space: nowrap;
        margin-bottom: 50px;
      }
      .primary_section {
        padding: 50px 10px;
        background-color: rgba(255,0,0,0.85);
      }
      .primary_section .btn {
        margin: 5px;
      }


      @media (min-width: 576px) {
        .landing_primary_title { font-size: 6rem; }
        .primary_section .btn {
          font-size: 1.5rem;
        }
      }

      /*@media (min-width: 768px) {
        .landing_primary_title { font-size: 4rem; }
      }*/

      @media (min-width: 992px) {
        .landing_primary_title { font-size: 6rem; }
      }

      /*@media (min-width: 1200px) {
        .landing_primary_title { font-size: 6rem; }
      }*/


    </style>

  </head>

  <body>

    <div class="container">

      <div class="flash-messages">
        <div class="flash-notice"><%= notice %></div>
        <div class="flash-alert"><%= alert %></div>
      </div>

    </div>
    <div class="container-fluid">
      <%= yield %>
    </div>

  </body>
</html>
